.section-1 {
  height: 140vh;
  width: 100%;
  padding: 10px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.section-1 .container-fluid {
  height: 100%;
  border: 5px solid white;
  position: relative;
  background-image: url("https://images.unsplash.com/photo-1483794344563-d27a8d18014e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
  background-size: cover;
  color: #343436;
  text-transform: uppercase;
}

.section-1 .container-fluid .nav-bar {
  width: 100%;
  margin-top: 20px;
}

.section-1 .container-fluid .nav-bar .nav-brand {
  float: left;
  font-size: 1.5rem;
  font-weight: 400;
}

.section-1 .container-fluid .nav-bar .btn-container {
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-1 .container-fluid .nav-bar .btn-container div {
  height: 45px;
  margin: 0 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: none;
  border: none;
  color: #343436;
  line-height: 45px;
  text-align: center;
}

.section-1 .container-fluid .nav-bar .btn-container div a:hover {
  color: rgba(255, 255, 255, 0.8) !important;
}

.section-1 .container-fluid .nav-bar .btn-container .sub {
  padding: 0 15px;
  border: 2px solid #343436;
}

.section-1 .container-fluid .nav-bar .btn-container .sub:hover {
  background-color: #343436;
  color: white;
}

.section-1 .container-fluid .hero-text {
  position: absolute;
  top: 50vh;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section-1 .container-fluid .hero-text .title-text {
  font-size: 7.5vmin;
  letter-spacing: -2px;
  line-height: 4.5rem;
  font-weight: 600;
  padding-bottom: 20px;
}

.section-1 .container-fluid .hero-text .line {
  border-color: #343436;
}

.section-2 {
  height: 400px;
}

.section-2 .container-fluid {
  height: 100%;
  width: 100%;
  position: relative;
  padding: 0;
}

.section-2 .container-fluid article {
  position: relative;
  top: -50%;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 100px;
  padding: 100px;
  background-color: white;
}

.section-2 .container-fluid article p {
  text-align: justify;
  margin-top: 0px;
  font-size: 1.3rem;
}

.section-2 .container-fluid article p span {
  float: left;
  height: 70px;
  font-size: 100px !important;
  margin-right: 10px;
  line-height: 115px;
}

.section-2 .container-fluid article p img {
  margin: 40px 0;
  width: 100%;
}

.section-2 .container-fluid .section-3 {
  position: relative;
  top: -80%;
  padding: 100px 0;
  padding-bottom: 170px;
  margin-top: 100px;
  background-color: #f8f8f8;
}

.section-2 .container-fluid .section-3 h2 {
  text-transform: uppercase;
  font-weight: 400;
}

.section-2 .container-fluid .section-3 .line {
  border-color: #343436;
  margin: 0;
}

.section-2 .container-fluid .section-3 h5 {
  margin-top: 100px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}

.section-2 .container-fluid .section-3 input {
  border: none;
  border-radius: 5px;
  background-color: #e1e1e1;
  height: 60px;
  width: 600px;
  font-size: 1.3rem;
  padding: 0 20px 0 20px;
}

.section-2 .container-fluid .section-3 button {
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #343436;
  text-transform: uppercase;
  height: 40px;
  width: 150px;
  text-align: center;
  line-height: 40px;
}

.section-2 .container-fluid .section-3 button:hover {
  background-color: #343436;
  color: white;
  cursor: pointer;
}

.section-2 .container-fluid .section-3 .comment-container {
  width: 400px;
  margin-top: 100px;
  color: rgba(0, 0, 0, 0.7);
}

.section-2 .container-fluid .section-3 .comment-container .comment-wrapper-1 {
  height: 70px;
  width: 100%;
  margin-bottom: 20px;
}

.section-2 .container-fluid .section-3 .comment-container .comment-wrapper-1 .profile {
  height: 100%;
  width: 70px;
  background-image: url("https://images.unsplash.com/photo-1477118476589-bff2c5c4cfbb?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
  background-size: 240%;
  background-position-x: -45px;
  background-position-y: -14px;
  border-radius: 50%;
}

.section-2 .container-fluid .section-3 .comment-container .comment-wrapper-1 .text-wrapper {
  font-weight: 400 !important;
  height: 100%;
  width: 78%;
  position: relative;
}

.section-2 .container-fluid .section-3 .comment-container .comment-wrapper-1 .text-wrapper h4 {
  position: absolute;
  top: 10px;
  left: 0;
  padding: 0;
  margin: 0;
}

.section-2 .container-fluid .section-3 .comment-container .comment-wrapper-1 .text-wrapper p {
  position: absolute;
  bottom: -10px;
  left: 0;
}

.section-2 .container-fluid .section-3 .comment-container .comment-wrapper-1 .text-wrapper h6 {
  position: absolute;
  top: 15px;
  right: 0;
  color: rgba(0, 0, 0, 0.5);
}

.section-2 .container-fluid .section-3 .comment-container .comment-wrapper-2 {
  height: 70px;
  width: 100%;
}

.section-2 .container-fluid .section-3 .comment-container .comment-wrapper-2 .profile {
  height: 100%;
  width: 70px;
  background-image: url("https://images.unsplash.com/photo-1546071267-5cfb1e0e8f41?ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80");
  background-size: 110%;
  border-radius: 50%;
}

.section-2 .container-fluid .section-3 .comment-container .comment-wrapper-2 .text-wrapper {
  font-weight: 400 !important;
  height: 100%;
  width: 78%;
  position: relative;
}

.section-2 .container-fluid .section-3 .comment-container .comment-wrapper-2 .text-wrapper h4 {
  position: absolute;
  top: 10px;
  left: 0;
  padding: 0;
}

.section-2 .container-fluid .section-3 .comment-container .comment-wrapper-2 .text-wrapper p {
  position: absolute;
  bottom: -10px;
  left: 0;
}

.section-2 .container-fluid .section-3 .comment-container .comment-wrapper-2 .text-wrapper h6 {
  position: absolute;
  top: 15px;
  right: 0;
  color: rgba(0, 0, 0, 0.5);
}

footer {
  position: relative;
  top: -80%;
  background-color: white;
  height: 200px;
  width: 100%;
}

footer .container {
  position: relative;
  height: 100%;
}

footer .container .icon-container {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .container .icon-container .icon-wrapper {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: #343436;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.1rem;
  color: white;
}

footer .container .top-btn {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 50px;
  width: 160px;
  text-align: center;
  line-height: 50px;
  text-transform: uppercase;
  background-color: white;
  border: 2px solid #1c1b20;
}

footer .container .top-btn i {
  margin-left: 10px;
}

footer .container .top-btn:hover {
  background-color: #343436;
  color: white;
  cursor: pointer;
}
/*# sourceMappingURL=article-2.css.map */