$gray:#343436;
$not-black-but-dark:#1c1b20;
$silver:#f8f8f8;

.section-1{
    height: 140vh;
    width: 100%;
    padding: 10px;
    padding-bottom: 0;
    margin-bottom: 0;
    

    .container-fluid{
        height: 100%;
        border: 5px solid white;
        position: relative;
        background-image: url('https://images.unsplash.com/photo-1475257026007-0753d5429e10?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80');
        background-size: cover;
        color: white;
        text-transform: uppercase;

        .nav-bar{
            width: 100%;
            margin-top: 20px;

            .nav-brand{
                float: left;
                font-size: 1.5rem;
                font-weight: 400;
            }

            .btn-container{
                float: right;
                display: flex;

                div{
                    height: 45px;
                    margin: 0 10px;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    background: none;
                    border: none;
                    color: white;
                    line-height: 45px;
                    text-align: center;

                    a{
                        &:hover{
                            color: rgba(255, 255, 255, 0.8) !important;
                        }
                    }
                    
                }

                .sub{
                    padding: 0 15px;
                    border: 2px solid white;

                    &:hover{
                        background-color: white;
                        color: $not-black-but-dark;
                    }
                }
            }
        }

        .hero-text{
            position: absolute;
            top: 55vh;
            left: 50%;
            transform: translate(-50%,-50%);
            
            .title-text{
                font-size: 7.5vmin;
                letter-spacing: -2px;
                line-height: 4.5rem;
                font-weight: 600;
                padding-bottom: 20px;
            }
        }
    }
}


.section-2{
    height: 400px;

    .container-fluid{
        height: 100%;
        width: 100%;
        position: relative;
        padding: 0;

        article{
            position: relative;
            top: -50%;
            width: 70%;
            margin: 0 auto;
            margin-bottom: 100px;
            padding: 100px;
            background-color: white;
            //box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.1);
            p{
                text-align: justify;
                margin-top: 0px;
                font-size: 1.3rem;
                span{
                    float: left;
                    height: 70px;
                    font-size: 100px !important;
                    margin-right: 10px;
                    line-height: 115px;
                }

                img{
                    margin: 40px 0;
                    width: 100%;
                }
            }
        }

        .section-3{
            position: relative;
            top: -80%;
            padding: 100px 0;
            padding-bottom: 170px;
            margin-top: 100px;
            background-color: $silver;

            h2{
                text-transform: uppercase;
                font-weight: 400;
            }

            .line{
                border-color: $gray;
                margin: 0;
            }

            h5{
                margin-top: 100px;
                font-weight: 400;
                color: rgba(0, 0, 0, 0.5);
            }

            input{
                border: none;
                border-radius: 5px;
                background-color: rgb(225, 225, 225);
                height: 60px;
                width: 600px;
                font-size: 1.3rem;
                padding: 0 20px 0 20px;
            }
            
            button{
                margin-top: 20px;
                background-color: rgba(0, 0, 0, 0);
                border: 2px solid $gray;
                text-transform: uppercase;
                height: 40px;
                width: 150px;
                text-align: center;
                line-height: 40px;
                transition-property: all;
                transition-duration: 100ms;

                &:hover{
                    background-color: $gray;
                    color: white;
                    cursor: pointer;
                }
            }

            .comment-container{
                width: 400px;
                margin-top: 100px;
                color: rgba(0, 0, 0, 0.7);

                .comment-wrapper-1{
                    height: 70px;
                    width: 100%;
                    margin-bottom: 20px;

                    .profile{
                        height: 100%;
                        width: 70px;
                        background-image: url('https://images.unsplash.com/photo-1477118476589-bff2c5c4cfbb?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80');
                        background-size: 240%;
                        background-position-x: -45px;
                        background-position-y: -14px;
                        border-radius: 50%;
                    }

                    .text-wrapper{
                        font-weight: 400 !important;
                        height: 100%;
                        width: 78%;
                        position: relative;

                        h4{
                            position: absolute;
                            top: 10px;
                            left: 0;
                            padding: 0;
                            margin: 0;
                        }

                        p{
                            position: absolute;
                            bottom: -10px;
                            left: 0;
                        }

                        h6{
                            position: absolute;
                            top: 15px;
                            right: 0;
                            color: rgba(0, 0, 0, 0.5);
                        }
                    }
                }

                .comment-wrapper-2{
                    height: 70px;
                    width: 100%;

                    .profile{
                        height: 100%;
                        width: 70px;
                        background-image: url('https://images.unsplash.com/photo-1546071267-5cfb1e0e8f41?ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80');
                        background-size: 110%;
                        //background-position-x: -2px;
                        //background-position-y: -3px;
                        border-radius: 50%;
                    }

                    .text-wrapper{
                        font-weight: 400 !important;
                        height: 100%;
                        width: 78%;
                        position: relative;

                        h4{
                            position: absolute;
                            top: 10px;
                            left: 0;
                            padding: 0;
                        }

                        p{
                            position: absolute;
                            bottom: -10px;
                            left: 0;
                        }

                        h6{
                            position: absolute;
                            top: 15px;
                            right: 0;
                            color: rgba(0, 0, 0, 0.5);
                        }
                    }
                }
            }
        }
    }
}

footer{
    position: relative;
    top: -80%;
    background-color: white;
    height: 200px;
    width: 100%;

    .container{
        position: relative;
        height: 100%;

        .icon-container{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            display: flex;

            .icon-wrapper{
                height: 35px;
                width: 35px;
                border-radius: 50%;
                background-color: $gray;
                margin-right: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.1rem;
                color: white;
            }
        }

        .top-btn{
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            height: 50px;
            width: 160px;
            text-align: center;
            line-height: 50px;
            text-transform: uppercase;
            background-color: white;
            border: 2px solid $not-black-but-dark;

            i{
                margin-left: 10px;
            }

            &:hover{
                background-color: $gray;
                color: white;
                cursor: pointer;
            }
        }
    }
}