$gray:#343436;
$not-black-but-dark:#1c1b20;
$silver:#f8f8f8;


.section-1{
    height: 100vh;
    width: 100%;
    padding: 10px;
    

    .container-fluid{
        height: 100%;
        border: 5px solid white;
        position: relative;
        background-image: url('https://images.pexels.com/photos/808510/pexels-photo-808510.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
        background-size: cover;
        color: white;
        text-transform: uppercase;

        .nav-bar{
            width: 100%;
            margin-top: 20px;

            .nav-brand{
                float: left;
                font-size: 1.5rem;
                font-weight: 400;
            }

            .btn-container{
                float: right;
                display: flex;

                div{
                    height: 45px;
                    margin: 0 10px;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    background: none;
                    border: none;
                    color: white;
                    line-height: 45px;
                    text-align: center;

                    a{
                        &:hover{
                            color: rgba(255, 255, 255, 0.8) !important;
                        }
                    }
                }

                .sub{
                    padding: 0 15px;
                    border: 2px solid white;

                    &:hover{
                        background-color: white;
                        color: $not-black-but-dark;
                    }
                }
            }
        }

        .hero-text{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            
            .title-text{
                font-size: 5rem;
            }

            .sub-title{
                font-size: 1.2rem;
                font-weight: 400;
                margin-bottom: 30px;
            }

        }
    }
}


.section-2{
    background-color: $silver;
    color: $not-black-but-dark !important;
    
    .container{
        height: 100%;

        h2{
            padding-top: 50px;
            text-transform: uppercase;
        }

        .line{
            border-color: $gray;
        }

        .row{
            padding-bottom: 80px;

            .card{
                margin: 50px auto;
                border: none;
                border-radius: 0px !important;
                box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
                transition-property: all;
                transition-duration: 300ms;

                img{
                    border-radius: 0px !important;
                }

                .line{
                    border: 1px solid $gray;
                    width: 50px;
                    padding: 0;
                }

                &:hover{
                    transform: scale(1.05,1.05);
                    cursor: pointer;
                    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.3);
                }
            }
        }
    }
}


.section-3{
    color: $not-black-but-dark;
    background-color: lightblue;

    .container-fluid{
        .row{
            .col-md{
                height: 90vh;
            }

            .img-container{
                background-image: url('../images/tile-4.jpg');
                background-size: cover;
            }

            .text-container{
                background-color: white;

                h2{
                    text-transform: uppercase;
                }

                .line{
                    border-color: $not-black-but-dark;
                }

                p{
                    padding: 0 15%;
                }
            }
        }
    }
}

.section-4{
    background-color: $silver;
    margin: 0 !important;
    padding: 130px 0;

    .container{
        height: 100%;

        h2{
            text-transform: uppercase;
        }

        .line{
            border-color: $gray;
        }

        h5{
            color: rgba(0, 0, 0, 0.6);
            padding-bottom: 10px;
        }


        .field {
            width: 500px;
            height: 100px;
            position: relative;
            color: $not-black-but-dark;

            input {
                width: 100%;
                border-radius: 6px;
                height: 100px;
                border: 0;
                padding: 10px;
                padding: 30px 0 0 16px;
                font-size: 0;
                background: rgb(225, 225, 225);
                transition: background .3s ease;
                color: $not-black-but-dark;

                &:focus {
                    background: rgb(225, 225, 225);
                    font-size: 23px;
                
                    &::selection {
                        background: rgba(188, 232, 255, 0.5);
                    }
                }

                &.active {
                    background: rgb(225, 225, 225);
                    font-size: 23px;
                }
            }

            input, button{
                position: absolute;
                height: 80px;
            }

            button {
                background: rgb(200, 200, 200);
                right: 0;
                border: 0;
                width: 100px;
                border-radius: 6px;
                font-size: 22px;
                cursor: pointer;
                transition: 
                width .3s ease,
                background .3s ease,
                opacity .3s ease;
                opacity: 0;
                color: $not-black-but-dark;
                text-transform: uppercae;
                pointer-events: none;

                &.active {
                    background: #32e232;
                    opacity: 1;
                    pointer-events: auto;
                    color: white;
                    
                    &:hover {
                        background: #5fdba7;
                    }
                }

                &.full {
                    width: 100%;
                }
            }

            input:focus + label {
                font-size: 18px;
                transform: translate(16px, -11px);
                color: $not-black-but-dark
            }

            label {
                position: absolute;
                transform: translate(16px,7px);
                transition:
                transform .3s ease,
                font-size .3s ease,
                color .3s .1s ease;
                font-size: 20px;
                line-height: 70px;

                &.active {
                font-size: 19px;
                transform: translate(16px, 11px);
                color: $not-black-but-dark;
                }
            }
            
            input:focus + label + button {
                opacity: 1;
            }
        }
    }
}


footer{
    background-color: white;
    height: 200px;
    width: 100%;

    .container{
        position: relative;
        height: 100%;

        .icon-container{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            display: flex;

            .icon-wrapper{
                height: 35px;
                width: 35px;
                border-radius: 50%;
                background-color: $gray;
                margin-right: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.1rem;
                color: white;
            }
        }

        .top-btn{
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            height: 50px;
            width: 160px;
            text-align: center;
            line-height: 50px;
            text-transform: uppercase;
            background-color: white;
            border: 2px solid $not-black-but-dark;

            i{
                margin-left: 10px;
            }

            &:hover{
                background-color: $gray;
                color: white;
                cursor: pointer;
            }
        }
    }
}