@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');

*{
    background-repeat: no-repeat;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}


.section-1{
    height: 100vh;
    width: 100%;
    padding: 10px;
    

    .container-fluid{
        height: 100%;
        border: 5px solid white;
        position: relative;
        background-image: url('https://images.pexels.com/photos/808510/pexels-photo-808510.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
        background-size: cover;
        color: white;
        text-transform: uppercase;

        .nav-bar{
            width: 100%;
            margin-top: 20px;

            .nav-brand{
                float: left;
                font-size: 1.5rem;
                font-weight: 400;
            }

            .btn-container{
                float: right;
                display: flex;

                div{
                    height: 45px;
                    margin: 0 10px;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    background: none;
                    border: none;
                    color: white;
                    line-height: 45px;
                    text-align: center;
                }

                .sub{
                    padding: 0 15px;
                    border: 2px solid white;
                }
            }
        }

        .hero-text{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            
            .title-text{
                font-size: 5rem;
            }

            .sub-title{
                font-size: 1.2rem;
                font-weight: 400;
                margin-bottom: 30px;
            }

            .line{
                margin: 0 auto;
                width: 100px;
                border: 2px solid white;
            }
        }
    }
}